.about-workout-tabs {
    align-items: center;
    font-size: 14px;
    background-color: rgba(103, 57, 255, 0.1);
    border-radius: 25px;
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
}

.about-workout-tab {
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
}

.active {
    padding: 5px 30px;
    color:rgb(103, 57, 255);
    font-weight: 700;
    background-color: rgb(24, 26, 27);
}

.tab-info {
    font-size: 14px;
}