.about-workout-tabs {
	align-items: center;
	font-size: 14px;
	background-color: rgba(103, 57, 255, 0.1);
	border-radius: 25px;
	padding: 2px;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 10px;
}

.about-workout-tab {
	border-radius: 25px;
	padding: 5px 15px;
	cursor: pointer;
}

.active {
	padding: 5px 30px;
	color: rgb(103, 57, 255);
	font-weight: 700;
	background-color: rgb(24, 26, 27);
}

.tab-info {
	font-size: 14px;
	white-space: pre-wrap;
	text-align: left;
	margin: auto;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    border-radius: 15px;
}

.muscle-img {
	width: 100%;
}