.exercise-input-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	margin-bottom: 50px;
}

.sets-count {
	font-weight: 300;
	font-size: 14px;
	text-decoration: underline;
}

.exercise-input-row {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	align-items: center;
	font-weight: 300;
	font-size: 24px;
}

.input-row-counter {
	color: black;
	font-weight: 600;
	background-color: white;
	width: 35px;
	border-radius: 100%;
	margin-right: 20px;
}

.input-row-input-field {
	font-weight: 800;
	font-size: 30px;
}

.divider {
	border: 1px solid rgba(255, 255, 255, 0.25);
	height: 40px;
	rotate: 20deg;
	margin: 0 12px;
}

.input-row-confirm-button {
	margin-left: 20px;
	background-color: white;
	color: black;
	border: 1px solid blue;
	border-radius: 20px;
	padding: 5px 15px;
}

.input-row-confirmed-button {
	background-color: black;
	color: white;
	border: 1px solid red;
}