.workout-specs-container {
	margin-top: 20px;
	background-color: rgba(56, 64, 70, 0.3);
	backdrop-filter: blur(6px);
	border-color: rgb(103, 57, 255);
	border-radius: 12px;
	border-style: solid;
	border-width: 0.5px;
	padding: 10px 15px 10px 15px;
	display: inline-flex;
	flex-direction: row;
	column-gap: 15px;
}

.divider {
	border-color: rgba(255, 255, 255, 0.25);
	border-width: 1px;
	border-style: solid;
}

.time-container,
.burn-container {
	display: flex;
	flex-direction: row;
	column-gap: 8px;
	font-size: 11px;
	line-height: 16px;
}

.specs-image {
	height: 32px;
	background-color: rgb(103, 57, 255);
	border-radius: 4px;
}

.specs-header {
	margin: 0;
	text-align: left;
}

.specs-text {
	color: rgb(103, 57, 255);
	margin: 0;
	text-align: left;
}