.nav-title {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 12px;
}

.back-button {
	height: 15px;
	cursor: pointer;
}

.title {
	font-size: 25px;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
}