/* Title */
.checklist-title-container {
	display: flex;
	align-items: center;
}

.checklist-count,
.checklist-done-count {
	font-weight: 300;
	font-size: 15px;
}

.checklist-count {
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 10px;
}

.checklist-done-count {
	font-size: 18px;
	font-weight: 500;
}

/* Containers */
.workout-checklist-items {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.checklist-item-container {
	border-radius: 12px;
	background-color: #384046;
	padding: 10px 15px 10px 15px;
	display: flex;
	flex-direction: row;
	column-gap: 15px;
	text-align: left;
	align-items: center;
	cursor: pointer;
}

.checklist-item-img {
	width: 50px;
	max-height: 50px;
	border-radius: 8px;
}

.checklist-item-title {
	font-size: 15px;
}

.checklist-item-notes {
	font-size: 12px;
}

.checklist-item-action {
	width: 28px;
	height: 28px;
	border-style: solid;
	border-radius: 100%;
	border-width: 0.5px;
	border-color: rgb(103, 57, 255);
	margin-left: auto;
}

.checklist-item-done {
	background-color: rgba(0, 0, 0, 0.6);
}

.checklist-anchor {
	color: inherit;
	text-decoration: none;
}
